<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		<title>{% block title %}Welcome!{% endblock %}</title>

		{% block stylesheets %}
			{% stylesheets filter="scssphp" output="css/app.css"
				"%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
				"%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
				"%kernel.root_dir%/Resources/assets/css/*.css"
				"%kernel.root_dir%/Resources/assets/scss/main.scss"
			%}
				<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
		{% endblock %}
	</head>

	<body>
		<header>
			<!-- Fixed navbar -->
			<nav class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% block home_url %}{{ path('homepage') }}{% endblock %}">Project name</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
					{% block menu %}
						{{ knp_menu_render('main') }}
						{{ knp_menu_render('user') }}
					{% endblock %}
					</div><!--/.nav-collapse -->
				</div>
			</nav>
		</header>

		<!-- Begin page content -->
		<div id="main-container" class="container">
			{% block body %}
				<div class="row">
					<section id="main" class="col-sm-9">
						{% block main %}{% endblock %}
					</section>

					<aside id="sidebar" class="col-sm-3">
						{% block sidebar %}{% endblock %}
					</aside>
				</div>
			{% endblock %}
		</div>

		<footer class="footer">
			<div class="container">
				<p class="text-muted">&copy; {{ 'now'|date('Y') }}</p>
			</div>
		</footer>

		{% block javascripts %}
			{% javascripts filter="?jsqueeze" output="js/app.js"
				"%kernel.root_dir%/Resources/assets/js/jquery-2.2.0.js"
				"%kernel.root_dir%/Resources/assets/js/bootstrap-3.3.6.js"
				"%kernel.root_dir%/Resources/assets/js/main.js"
			%}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}
	</body>
</html>
