{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos-user fos_user_change_password' } }) }}
	{{ form_widget(form) }}

	<input type="submit" class="btn btn-default" value="{{ 'change_password.submit'|trans }}" />
{{ form_end(form) }}
{% endblock fos_user_content %}
