{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos-user fos_user_resetting_reset' } }) }}
	{{ form_widget(form) }}

	<input type="submit" class="btn btn-default" value="{{ 'resetting.reset.submit' | trans }}" />
{{ form_end(form) }}
{% endblock fos_user_content %}
