{% extends 'knp_menu.html.twig' %}

{% import "knp_menu.html.twig" as knp_menu %}

{% block item %}
{% if item.displayed %}
	{%- set attributes = item.attributes %}
	{%- set is_dropdown = item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
	{%- set divider_prepend = attributes.divider_prepend|default(false) %}
	{%- set divider_append = attributes.divider_append|default(false) %}

	{# unset bootstrap specific attributes #}
	{%- set attributes = attributes|merge({'divider_prepend': null, 'divider_append': null }) %}

	{%- if divider_prepend and item.level > 1 %}
		{{ block('dividerElement') }}
	{%- endif %}

	{# building the class of the item #}
	{%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
	{%- if matcher.isCurrent(item) %}
		{%- set classes = classes|merge([options.currentClass]) %}
	{%- elseif matcher.isAncestor(item, options.matchingDepth) %}
		{%- set classes = classes|merge([options.ancestorClass]) %}
	{%- endif %}
	{%- if item.actsLikeFirst %}
		{%- set classes = classes|merge([options.firstClass]) %}
	{%- endif %}
	{%- if item.actsLikeLast %}
		{%- set classes = classes|merge([options.lastClass]) %}
	{%- endif %}

	{# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
	{% if item.hasChildren and options.depth is not same as(0) %}
		{% if options.branch_class is not empty and item.displayChildren %}
			{%- set classes = classes|merge([options.branch_class]) %}
		{% endif %}
	{% elseif options.leaf_class is not empty %}
		{%- set classes = classes|merge([options.leaf_class]) %}
	{%- endif %}

	{# building the class of the children #}
	{%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
	{%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}

	{# adding classes for dropdown #}
	{%- if is_dropdown %}
		{%- set classes = classes|merge(['dropdown']) %}
		{%- set childrenClasses = childrenClasses|merge(['dropdown-menu']) %}
	{%- endif %}

	{%- if classes is not empty %}
		{%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
	{%- endif %}
	{# displaying the item #}
	<li{{ knp_menu.attributes(attributes) }}>
		{%- if is_dropdown %}
			{{ block('dropdownElement') }}
		{%- elseif item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
			{{ block('linkElement') }}
		{%- else %}
			{{ block('spanElement') }}
		{%- endif %}
		{# render the list of children #}
		{%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
		{{ block('list') }}
	</li>

	{%- if divider_append and item.level > 1 %}
		{{ block('dividerElement') }}
	{%- endif %}
{% endif %}
{% endblock %}

{% block dividerElement %}
	<li class="divider"></li>
{% endblock %}

{% block linkElement %}
{%- spaceless %}
	<a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>
		{%- if item.getExtra('icon', false) -%}
			<i class="{{ item.getExtra('icon') }}"></i>
		{%- endif -%}
		{{- block('label') -}}
	</a>
{% endspaceless -%}
{% endblock %}

{% block spanElement %}
{%- spaceless %}
	<span{{ knp_menu.attributes(item.labelAttributes) }}>
		{%- if item.getExtra('icon', false) -%}
			<i class="{{ item.getExtra('icon') }}"></i>
		{%- endif -%}
		{{- block('label') -}}
	</span>
{% endspaceless -%}
{% endblock %}

{% block dropdownElement %}
	{%- set classes = item.linkAttribute('class') is not empty ? [item.linkAttribute('class')] : [] %}
	{%- set classes = classes|merge(['dropdown-toggle']) %}
	{%- set attributes = item.linkAttributes %}
	{%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
	{%- set attributes = attributes|merge({'data-toggle': 'dropdown'}) %}
	{%- set attributes = attributes|merge({'role': 'button'}) %}
	{%- set attributes = attributes|merge({'aria-haspopup': 'true'}) %}
	{%- set attributes = attributes|merge({'aria-expanded': 'false'}) %}
	<a href="#"{{ knp_menu.attributes(attributes) }}>
		{%- if item.getExtra('icon', false) -%}
			<i class="{{ item.getExtra('icon') }}"></i>
		{%- endif -%}
		{{- block('label') -}}
		{{ ' ' }}<span class="caret"></span>
	</a>
{% endblock %}

{% block label %}
{%- spaceless %}
	{%- if item.getExtra('trans_label', true) -%}
		{% set label = item.label|trans(
			item.getExtra('translation_params', {}),
			item.getExtra('translation_domain', 'messages')
		) %}
	{%- else -%}
		{% set label = item.label %}
	{%- endif -%}
	{%- if options.allow_safe_labels and item.getExtra('safe_label', false) -%}
		{{ label|raw }}
	{%- else -%}
		{{ label }}
	{%- endif -%}
{% endspaceless -%}
{% endblock %}
